<% layout("layouts/boilerplat") %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
    <h2>Edit your Listing..</h2>
    <form method="post" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" 
            placeholder="enter title" 
            type="text" 
            value="<%= listing.title %>" class="form-control" required>
            <div class="valid-feedback">Title Looks Good</div>
        <div class="invalid-feedback">Please enter Vaild title </div>
        </div>

        <div class="mb-3">
            <label for="discription" class="form-label">Description</label>
            <textarea name="listing[description]" 
            placeholder="enter description"  class="form-control" required ><%= listing.description %>
            </textarea>
            <div class="invalid-feedback">Please enter Vaild description </div>
        </div>

        <div class="mb-3">
            Original Listing Image <br>
            <img src="<%= orignalImageUrl %>">
                </div>
        
        <div class="mb-3">
            <label for="image" class="form-label">Upload New Image</label>
            <input name="listing[image][url]" placeholder="enter url" type="file"  class="form-control">
            <div class="invalid-feedback">Please enter Vaild image</div>
        </div>

        <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" placeholder="enter price" type="number"  value="<%=listing.price%>"  class="form-control" required>
            <div class="invalid-feedback">Please enter Vaild Price </div>
        </div>
        
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" placeholder="enter country" type="text"  value="<%= listing.country %>"  class="form-control" required>
            <div class="invalid-feedback">Country should be required</div>
        </div>
        </div>
        
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" placeholder="enter location" type="text"  value="<%= listing.location%>"  class="form-control" required>
            <div class="invalid-feedback"> Location should be required </div>
        </div>
 
        <button class="btn-dark edit-btn mt-3 mb-4">Edit</button>

    </form>
    </div>
    </div>
    
</body>